.sidebar {
  width: 300px; 
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(80px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #e0e0e0;
  border-radius: 10px;
  position: fixed; 
  top: 100px; 
  left: 50px; 
  height: calc(100% - 100px); 
  overflow-y: auto; 
  scrollbar-width: none; 
  max-height: 62vh; 
}

h2 {
  color: #FFD700; 
}

ul {
  list-style-type: none; 
  padding: 0;
}

li {
  display: flex;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  flex-direction: column;
}

li:hover {
  background: rgba(255, 255, 255, 0.1); 
}

.league-list {
  margin-top: 5px;
  padding-left: 0; 
  list-style-type: disc;
  color: #e0e0e0; 
  display: flex; 
}

li.expanded > .league-list {
  display: block;
}

.league-flag {
  width: 15px; 
  height: auto;
  margin-right: 10px; 
  border-radius: 20%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.country-info {
  display: flex;
  align-items: center; 
}

.league-list {
  display: flex; 
  align-items: center; 
}


.league-item {
  display: flex; 
  align-items: center; 
  padding: 5px 0; 
}

.country-flag {
  width: 30px; 
  height: auto;
  margin-right: 10px; 
  border-radius: 20%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.league-flag {
  width: 30px; 
  height: auto;
  margin-right: 10px; 
  border-radius: 20%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.country-name {
  margin-left: 10px; 
  font-size: 16px;
  color: #FFD700; 
}

.league-name {
  margin-left: 40px; 
  font-size: 12px;
  color: #e0e0e0; 

}