/* barra-lateral.component.css */
.sidebar {
  width: 250px; /* Ajusta el ancho según tu diseño */
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(80px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #e0e0e0;
  border-radius: 10px;
  position: fixed; /* Asegúrate de que esté fijo en la pantalla */
  top: 100px; /* Ajusta la posición vertical según sea necesario */
  left: 20px; /* Espaciado desde la izquierda */
  height: calc(100% - 100px); /* Altura del contenedor para permitir scroll */
  overflow-y: auto; /* Permitir el desplazamiento vertical */
  scrollbar-width: none; /* Para Firefox */
  max-height: 62vh; /* Altura máxima del contenedor */
}

.country-flag {
  width: 30px; /* Ajusta el tamaño de la bandera */
  height: auto;
  margin-right: 10px; /* Espacio entre la bandera y el nombre del país */
  border-radius: 20%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

h2 {
  margin-top: 20px;
  color: #FFD700; /* Color dorado para los títulos */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

li:hover {
  background: rgba(255, 255, 255, 0.1); /* Efecto hover */
}
