<body>
<div class="DetalleLeague">
    <h1>{{ league.league.name }}</h1> <!-- Nombre de la liga -->
    
    <div class="league-header">
      <img [src]="league.league.logo" alt="Logo de la liga" class="league-logo" />
      <div class="league-info">
        <h2>{{ league.league.name }}</h2>
      </div>
    </div>
    
      <h2>{{ seasonStats.league.name }}</h2>
      <img [src]="seasonStats?.league?.logo" alt="Logo de la liga" width="50">
      <p>País: {{ seasonStats?.country?.name }}</p>
      <img [src]="seasonStats?.country?.flag" alt="Bandera del país" width="30">
    
      <h3>Temporadas</h3>
      <div *ngFor="let season of seasonStats?.seasons">
        <h4>Año: {{ season?.year }} ({{ season?.start }} - {{ season?.end }})</h4>
        <p>Temporada actual: {{ season?.current ? 'Sí' : 'No' }}</p>
    
      </div>
    
    </div>
  
</body>