<body>
<div class="DetalleLeague">
    <h1>{{ league.league.name }}</h1> <!-- Nombre de la liga -->
    
    <div class="league-header">
      <img [src]="league.league.logo" alt="Logo de la liga" class="league-logo" />
      <div class="league-info">
        <h2>{{ league.league.name }}</h2>
        <p>{{ league.league.area.name }}</p>
      </div>
    </div>
  
    <div *ngIf="seasonStats">
      <h2>{{ seasonStats.league.name }} - {{ seasonStats.country.name }}</h2>
      <img [src]="seasonStats.flag" alt="{{ seasonStats.country }} flag" width="30" />
      
      <div *ngIf="seasonStats.currentSeason">
        <h3>Temporada Actual: {{ seasonStats.currentSeason.year }}</h3>
        <p>Inicio: {{ seasonStats.currentSeason.start }}</p>
        <p>Fin: {{ seasonStats.currentSeason.end }}</p>
      </div>
    </div>
    
  
    <div class="informacion-adicional">
      <h3>Más Información</h3>
      <p>Para más detalles, consulta la página oficial de la liga.</p>
    </div>
  </div>
</body>