body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../../../Imagenes/Fondo.jpg)no-repeat center fixed;
  background-size: cover;
  flex-direction: column; 
  overflow-y: auto;
}

.season-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.arrow-button {
  background-color: #FF9800;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.arrow-button:hover {
  background-color: #F57C00;
  transform: scale(1.1);
}

.arrow-button:active {
  background-color: #E65100;
  transform: scale(1.05);
}

.season-navigation span {
  font-size: 20px;
  font-weight: bold;
  color: #FFD700;
}

/* Estilos para la lista de partidos */
.match {
  width: 70%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(80px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #e0e0e0;
  border-radius: 20px;
  padding: 25px 20px;
  margin: 20px auto;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.match h3 {
  color: #ffffff;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.team img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.score {
  font-size: 1.5em;
  font-weight: bold;
  color: #f0f0f0;
  text-align: center;
  flex-shrink: 0;
}

.details p {
  font-size: 1em;
  color: #f0f0f0;
  margin-top: 5px;
}

.details strong {
  font-weight: bold;
  color: #FFD700;
}

/* Estilos cuando no hay partidos */
.no-partidos {
  width: 70%;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 20px;
  padding: 25px 20px;
  text-align: center;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.no-partidos p {
  font-size: 1.5em;
  font-weight: bold;
  color: #FF9800;
}

/* Fuentes generales */
.match h3, .team span, .score, .details p {
  font-family: 'Arial', sans-serif;
}

.league-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.detallegue-container {
  flex: 1;
}

.tabla-container {
  flex: 1;
}
