<body>
  <div class="season-navigation">
  <button (click)="changeSeason(-1)" class="arrow-button">&#8593; Anterior Temporada</button>
  <span>{{ currentSeason }}</span> <!-- Muestra la temporada actual -->
  <button (click)="changeSeason(1)" class="arrow-button">&#8595; Siguiente Temporada</button>
</div>

<!-- Mostrar partidos -->
<div *ngIf="partidos.length > 0">
  <h3>Partidos de la Liga</h3>
  <div *ngFor="let partido of partidos" class="match">
    <div class="team">
      <img [src]="partido.teams.home.logo" alt="{{ partido.teams.home.name }} logo">
      <span>{{ partido.teams.home.name }}</span>
    </div>
    <div class="score">
      <span>{{ partido.goals.home }}</span> - <span>{{ partido.goals.away }}</span>
    </div>
    <div class="team">
      <img [src]="partido.teams.away.logo" alt="{{ partido.teams.away.name }} logo">
      <span>{{ partido.teams.away.name }}</span>
    </div>
    <div class="details">
      <p><strong>Estadio:</strong> {{ partido.fixture.venue.name }}</p>
      <p><strong>Árbitro:</strong> {{ partido.fixture.referee || 'No disponible' }}</p>
    </div>
  </div>
</div>

<!-- Mensaje cuando no hay partidos -->
<div *ngIf="partidos.length === 0" class="no-partidos">
  <p>No hay partidos disponibles.</p>
</div>
</body>

