
  
<div class="partidosDia">
  <h1>PARTIDOS DEL DÍA</h1>

  <div *ngFor="let liga of (partidosPorLiga | keyvalue)">
    <h2>{{ liga.key }}</h2>
    <ul>
      <li *ngFor="let partido of liga.value">
        <img [src]="partido.teams.home.logo" alt="{{ partido.teams.home.name }}" />
        <span>{{ partido.teams.home.name }} {{ partido.goals.home }} - {{ partido.goals.away }} {{ partido.teams.away.name }}</span>
        <img [src]="partido.teams.away.logo" alt="{{ partido.teams.away.name }}" />

        <!-- Usar la función para mostrar el estado del partido -->
        <span>{{ getEstadoPartido(partido.fixture.date, partido.goals.home, partido.goals.away) }}</span>
      </li>
    </ul>
  </div>
</div> 